.main {
    margin-top: 55px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    width: 100%;
    height: 100%;
}

.main-item {
    margin-top: 20px;
}

.borderline {
    border-bottom: 0.5px solid;
}

.button {
    background-color: #E6E6E6/*#CEF6F5*/;
    color: black;
}

.gauge {
    width: 260px;
    height: 200px;
    background-color: rgb(231, 231, 231);
    align-items: center;
    justify-content: center;
}
