.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(82, 210, 255);
    height: 80px;
    z-index: 1001;
}

.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 15px;
}

.toolbar__title {
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.toolbar__logo {
    padding-left: 20px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.toolbar__logo a {
    color: black;
    text-decoration: none;
}

.toolbar-logo {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 5px;
}

.spacer {
    flex: 1;
}

.toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items li {
    padding-right: 10px;
}

.toolbar_navigation-items a {
    color: black;
    font-size: 30px;
    text-decoration: none;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
    background-color: rgb(238, 255, 0);
}

.toolbar_navigation-item {
    margin: 0;
    padding: 0;
    display: flex;
    padding-right: 10px;
    font-size: 30px;
}

.toolbar_navigation-item a:hover,
.toolbar_navigation-item a:active {
    background-color: rgb(238, 255, 0);
}

.toolbar-icon {
    max-width: 30px;
    max-height: 30px;
    margin-right: 5px;
    margin-bottom: 10px;
}

/* Modile App View */
@media (max-width: 768px) {
    .toolbar_navigation-items {
        display: none;
    }
    .toolbar__logo {
        display: none;
        padding-left: 0px;
    }
    .toolbar__title {
        margin-left: 20px;
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }
}

/* Desktop App View */
@media (min-width: 769px) {
    .toolbar__toggle-button {
        display: none;
    }
    .toolbar__title {
        margin-top: 5px;
    }
}